<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/index.js"></script>
    <title>JIB's Anonymous Chat</title>
</head>
<body class="center" onload="adminInit()">
    <div id="topbar"></div>
    <h2 style="float: left; margin-top: 15px; margin-left: 15px;">Command</h2>
    <div id="main-box">
        <button class="home-button" onclick="redirect('')">🔙</button>
        <div>
            <input id="command" style="margin: 10px;">
        </div>
        <button class="center-horizontal" style="margin-top: 10px; margin-bottom: 10px;" onclick="adminRun()">Run</button>
    </div>
</body>
</html>