<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/index.js"></script>
    <title>JIB's Anonymous Chat</title>
</head>
<body class="center">
    <div id="topbar"></div>
    <div id="main-box">
        <div id="main-box-topbar">
            <h2 style="text-align: center">Welcome!</h2>
        </div>
        <div id="main-box-content">
            <button onclick="redirect('chat')">Chat</button>
            <button onclick="redirect('account')">Account</button>
            <button onclick="redirect('users')">Users</button>
        </div>
    </div>
</body>
</html>