<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/users.css">
    <script src="/static/index.js"></script>
    <title>JIB's Anonymous Chat</title>
</head>
<body class="center" onload="usersInit()">
    <h2 style="float: left; margin-top: 15px; margin-left: 15px;">Users</h2>
    <button class="home-button" onclick="redirect('')">🔙</button>
    <div id="topbar"></div>
    <div id="user-list-container">
        <ol id="user-list">
            
        </ol>
    </div>
</body>
</html>